<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Administrator</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body><%= stylesheet_link_tag "styles_admin" %>
  <h3>Welcome  Admin| <%= link_to "Sign Out",signout_admin_url %></h3><br></br><br></br><%= link_to "Back To Home page",back_admin_url %>
 <center><%= error_messages_for :discipline ,:header_message => "Invalid Entry!",:message => "Data not saved.You'll need to fix the following fields:" %></center>
 <center><h3>Configure Discipline Details</h3><br></br><br></br>
   <%if  @count >1 %>
    <table>
      <tr>
        <th>Discipline</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr>
        <% @dec.each do |a| %>
        <td><%= a.name %></td>
        <td><%= link_to "Edit",edit_dec_admin_url(:id=>a.id) %></td>
        <td><%= link_to "Delete",del_dec_admin_url(:id=>a.id), :confirm => 'Are you sure?' %></td>
        </tr>
        <% end  %>
    </table>
<% end %>
    <h4>Add new Discipline</h4>

 <% form_tag(:action=>"add_deca",:method=>"get") do  %>
     Discipline : <%= text_field :pg1, :name %>
   <input type="submit" value="Add"/>
  <% end  %>


  </center>

</body>
</html>
