<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Administrator</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body><%= stylesheet_link_tag "styles_admin" %>
  <h3>Welcome  Admin |<%= link_to "Sign Out",signout_admin_url %></h3><br></br><br></br><%= link_to "Back To Home page",back_admin_url %>
  <center><h3>Configure Language</h3><br></br><br></br>
    <%= error_messages_for :languge ,:header_message => "Invalid Entry!",:message => "Data not saved.You'll need to fix the following fields:" %>
   <%if  @count >0 %>
    <table>
      <tr>
        <th>Programming Language</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr>
        <% @languge1.each do |a| %>
        <td><%= a.languge %></td>
        <td><%= link_to "Edit",edit_lang_admin_url(:id=>a.id) %></td>
        <td><%= link_to "Delete",del_lang_admin_url(:id=>a.id), :confirm => 'Are you sure?' %></td>
        </tr>
        <% end  %>
    </table>
<% end %>
    <h4>Add new language</h4>
    
 <% form_tag(:action=>"add_lang",:method=>"get") do  %>
     Language : <%= text_field :langug, :languge %>
   <input type="submit" value="Add"/>
  <% end  %>


  </center>

</body>
</html>
