<div id="tabs">
  <ul>
    <li><a><span><%= link_to "General",index_user_url  %></span></a></li>
    <li><a><span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Professional",professional_user_url  %></span></a></li>
    <li><a><span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Techinical Proficiency ",tech_proficiency_user_url  %></span></a></li>
    <li><a><span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Educational ",educational_user_url  %></span></a></li>
    <li><a><span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Professional Summary",professional_summary_user_url  %></span></a></li>
    <li><a><span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Referance Work",referance_work_user_url  %></span></a></li>
    <li><a><span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Role & Responsiblity", role_res_user_url  %></span></a></li>
      <li><a><span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Certification",  certification_user_url  %></span></a></li>
       <li><a><span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Core Compentecies", core_competency_user_url  %></span></a></li>
    <li><a><span></span></a></li>
    <li><a><span></span></a></li>
  </ul>

</div>