<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Certifications</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <%= javascript_include_tag "prototype" %>
</head>
<body><%= stylesheet_link_tag "styles" %>
      <%= stylesheet_link_tag "test" %>
<hr/>
<%= render :partial => "header" %>
<div id="session">
  <h3>Welcome  <%=session[:name]%>|<%=link_to "Sign Out",signout_user_url%></h3>
</div><br></br><br></br><br></br>
 <%= error_messages_for :certification,:header_message => "Invalid Entry!",:message => "Data not saved.You'll need to fix the following fields:"  %>
<div id="colM" class="w770 brd"><br></br>
  <% if  @count > 0%>
  <div class="w770 brd">
  <h4>Your Certifications/Technical Training</h4>

  <%  @cer.each do |a|%>
  <p id ="new" align="justify"><u><%= a.title %></u><br></br><br></br>Certification no :<%= a.certification_no %>
      <br></br><br></br>
    <%=  a.description%><%= link_to "Delete", delete_certification_user_url(:id=>a.id),:confirm => 'Are you sure?'%>
      <%= link_to "Edit", edit_certification_user_url(:id=>a.id) %>
    </p>
  <% end %>
  </div>
  <% end %>
 <p id="add_summary"><%= link_to_function("Add Your certification/Technical Training:",
"Element.remove('add_summary'); Element.show('summary')")%></p>
<div id="summary" style="display:none;">
<% form_tag(:action=>"save_certification",:method=>"get") do  %>
  <table>
    <tr>Title:<%= text_field("certification","title") %></tr>
    <tr> Priority :<%= text_field("certification","priority") %></tr>
    <tr>Certification no:<%= text_field "certification","certification_no" %></tr>
    <tr> <div>Description:</div><%= text_area("certification","description", :rows=>"7") %></tr>
  </table>
<input type="submit" value="save"/>
<% end  %>
</div>
 </div>
</body>
</html>
<%#= link_to 'Destroy', , ,  %>