<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>New professional</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body><%= stylesheet_link_tag "styles" %>
<hr />
<%= render :partial => "header" %>
<div id="session">
  <h3>Welcome  <%=session[:name]%>|<%=link_to "Sign Out",signout_user_url%></h3>
</div><br></br>
<br></br>
  <%= error_messages_for :professional %>
  <% form_tag(:action=>"save_professional",:method=>"get") do  %>
   Designation: <%= collection_select(:professional, :designation_id,Designation.all,:id,:designation) %><br></br>
   Description:<%= text_area("professional","description", :size=>20) %>
  <input type="submit" value="save"/>
  <% end  %>

</body>
</html>